{% extends 'nexus/base.html' %}

{% block content %}
<div class="jumbotron">

    <div class="container">
        <h1>Percy Jackson Domain</h1>
        <p>The Hub for all things Percy Jackson</p>
    </div>

</div>

<div class="container">

     <div class="col-sm-4 col-md-4">
		<div class="thumbnail tile tile-large tile-blue">
			<a href="#" class="fa-links">
				<h1>Read</h1>
				<i class="fa fa-5x fa-book"></i>
			</a>
		</div>
	 </div>

	<div class="col-sm-4 col-md-4">
		<div class="thumbnail tile tile-large tile-orange">
			<a href="#" class="fa-links">
				<h1>Talk</h1>
				<i class="fa fa-5x fa-comments"></i>
			</a>
		</div>
	 </div>

	<div class="col-sm-4 col-md-4">
		<div class="thumbnail tile tile-large tile-amethyst">
			<a href="#" class="fa-links">
				<h1>Gawk</h1>
				<i class="fa fa-5x fa-image"></i>
			</a>
		</div>
	 </div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail tile tile-large tile-pink">
			<a href="#" class="fa-links">
				<h1>Shop</h1>
				<i class="fa fa-5x fa-shopping-bag"></i>
			</a>
		</div>
	 </div>

	<div class="col-sm-4 col-md-4">
		<div class="thumbnail tile tile-large tile-red">
			<a href="#" class="fa-links">
				<h1>Connect</h1>
				<i class="fa fa-5x fa-share-alt"></i>
			</a>
		</div>
	 </div>

	<div class="col-sm-4 col-md-4">
		<div class="thumbnail tile tile-large tile-green">
			<a href="#" class="fa-links">
				<h1>Explore</h1>
				<i class="fa fa-5x fa-binoculars"></i>
			</a>
		</div>
	 </div>


</div>


{% endblock content %}